<h2>Client List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#client of clients">
            <td>{{ client.first_name }} {{ client.last_name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.city }}</td>
            <td>{{ client.state }}</td>
            <td>{{ client.zip }}</td>
            <td>
                <a [routerLink]="['EditClient']"><img [src]="editIcon" width="50%"></a>
            </td>
            <td>
                <a (click)="onDelete(client)"><img [src]="trashIcon" width="50%"/></a>
            </td>
        </tr>
    </tbody>
</table>
<div id="add">
    <a class="btn addClient" [routerLink]="['AddClient']">Add Client</a>
</div>
