// styles in src/style directory are applied to the whole page
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100);

* {
		font-family: 'Raleway', sans-serif !important;
        box-sizing: border-box;
}

body {
    background: #E0DFD5;
}
a {
    color: darksalmon;
}
